/* Basic styles */
body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Header styles */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000f1;
  padding: 1.25rem 0;
  color: white;
  z-index: 1;
}

/* Container for header content */
#header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

/* Logo styles */
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  height: 3.125rem;
}

/* Navigation button styles */
.nav-button {
  padding: 1.3rem 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  background-color: #000000f1;
  border-radius: 1rem;
}

.nav-button:hover {
  background-color: #555;
}

/* Main heading styles */
h1 {
  font-size: 3.5rem;
  margin-top: 6.25rem;
}

/* Main Stuff */

/* Header styles */
h2 {
  text-align: center;
  color: #000000;
  margin-top: 1.25rem;
}

/* Main container */
main {
  width: 80%;
  max-width: 1200px;
  margin: 10rem auto 1rem;
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

/* Label styles */
label {
  display: block;
  margin: 0.625rem 0 0.3125rem;
  font-weight: bold;
}

/* Stylish Select styles */
select {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.3125rem;
  appearance: none;
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><path d="M6 9l6 6 6-6"/></svg>')
    no-repeat right 0.625rem center;
  background-color: #ffffff;
  background-size: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

select:hover {
  border-color: #bbb;
}

select:focus {
  outline: none;
  border-color: #000000;
}

/* Button styles */
button {
  background: #000000;
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.3125rem;
}

button:hover {
  background: #414141;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
}

table th,
table td {
  border: 0.0625rem solid #ddd;
  padding: 0.625rem;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* Display section styles */
#mountainsPhotoDisplay,
#mountainsListInfoDisplay {
  margin-top: 1.25rem;
}

#mountainsPhotoDisplay img {
  width: 100%;
  border-radius: 0.625rem;
}

#mountainsListInfoDisplay {
  margin-top: 1.25rem;
  padding: 0.625rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.3125rem;
  background: #f9f9f9;
}

/* General styles for the radio group */
.radio-group {
  border: 0.125rem solid #ccc;
  padding: 0rem 0.5rem;
  border-radius: 0.3125rem;
  background-color: #f9f9f9;
}

/* Footer styles */
/* Footer styles */
footer {
  bottom: 0;
  width: 100%;
  background-color: #00000000;
  color: #fff;
  text-align: center;
  padding: 1.25rem 0; 
}


/* Styling for the copyright text */
footer p {
  margin: 0;
}
